using M.A.G.U.S.GameSystem.Valuables;
using Mtf.LanguageService;

namespace M.A.G.U.S.Things.{Namespace};

public class {ClassName} : Thing
{
	public override string Name => "{Name}";

	public Money Price => {Price};
}

